<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JSON Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="js/index.js"></script>

  </head>

  <body ng-app="app" ng-controller="angular">
    <div class="container">
      <h1 class="center page-header animate">Update JSON Form</h1>
<!--       <form name="UpdateJsonForm" novalidate ng-submit="fieldsToEdit([[original, update, field, id],[original2, update2, field2, id2],[original3, update3, field3, id3]])"> -->

      <form name="UpdateJsonForm" novalidate ng-submit="fieldsToEdit([update1, update2, update3])">

        <div row>
          <div class="col-md-4">
            <h3 class="center">Update 1</h3>
            <div class="form-group center">
              <label class="radio-inline"><input type="radio" ng-model="update1.field" value="key">Key</label>
              <label class="radio-inline"><input type="radio" ng-model="update1.field" value="value">Value</label><br>

              <label for="original">Original:</label>
              <input type="text" class="form-control" placeholder="input original key/value" ng-model="update1.original">

              <label for="update">Update:</label>
              <input type="text" class="form-control" placeholder="input new key/value" ng-model="update1.new">

              <label for="key">Key Associated With Value:</label>
              <input type="text" class="form-control" placeholder="only if value being updated" ng-model="update1.id">
            </div>
          </div>

          <div class="col-md-4">
            <h3 class="center">Update 2</h3>
            <div class="form-group center">
              <label class="radio-inline"><input type="radio" ng-model="update2.field" value="key">Key</label>
              <label class="radio-inline"><input type="radio" ng-model="update2.field" value="value">Value</label><br>

              <label for="original">Original:</label>
              <input type="text" class="form-control" placeholder="input original key/value" ng-model="update2.original">

              <label for="update">Update:</label>
              <input type="text" class="form-control" placeholder="input new key/value" ng-model="update2.new">

              <label for="key">Key Associated With Value:</label>
              <input type="text" class="form-control" placeholder="only if value being updated" ng-model="update2.id">
            </div>
          </div>

          <div class="col-md-4">
            <h3 class="center">Update 3</h3>
            <div class="form-group center">
              <label class="radio-inline"><input type="radio" ng-model="update3.field" value="key">Key</label>
              <label class="radio-inline"><input type="radio" ng-model="update3.field" value="value">Value</label><br>

              <label for="original">Original:</label>
              <input type="text" class="form-control" placeholder="input original key/value" ng-model="update3.original">

              <label for="update">Update:</label>
              <input type="text" class="form-control" placeholder="input new key/value" ng-model="update3.new">

              <label for="key">Key Associated With Value:</label>
              <input type="text" class="form-control" placeholder="only if value being updated" ng-model="update3.id">
            </div>
          </div>
        </div>

        <div class="row center">
          <button type="submit" class="button btn-primary"><strong>Update JSON</strong></button>
        </div>

      </form>

      <div class="row">

        <div class="col-md-6">
          <form name="AddToJson" novalidate ng-submit="add(aobj)">
            <h3 class="center">Add to JSON</h3>
            <div class="form-group center">
              <label for="akey">Key:</label>
              <input type="text" class="form-control" ng-model="aobj.key">
              <label for="avalue">Value:</label>
              <input type="text" class="form-control" ng-model="aobj.value">
            </div>
            <div class="row center">
              <button type="submit" class="button btn-success"><strong>ADD TO JSON</strong></button>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <form name="DeleteFromJson" novalidate ng-submit="delete(dobj)">
            <h3 class="center">Delete from JSON</h3>
            <div class="form-group center">
              <label for="dkey">Key:</label>
              <input type="text" class="form-control" ng-model="dobj.key">
              <label for="dvalue">Value:</label>
              <input type="text" class="form-control" ng-model="dobj.value">
            </div>
            <div class="row center">
              <button type="submit" class="button btn-danger"><strong>DELETE FROM JSON</strong></button>
            </div>
          </form>
        </div>

      </div>


      <div class=row>
        <div class="col-md-12">
          <pre>{{jsonString | json}}</pre>
        </div>
      </div>

  </body>

</html>
