body {
	background-color: #18AFEC;
	color: #313131;
	font-family: Georgia;
}

label {
	padding: 5px;
}

.center{
  text-align: center;
}

button {
	height:50px;
	width:300px;
	margin:15px;
	font-size: 20px;
}

.directions {
	border: 1px solid;
	padding: 10px;
	font-weight: bold;
	box-shadow: 0 0 10px white;
}